/*** /settings.css
 *       _____      _   _   _
 *      / ____|    | | | | (_)
 *     | (___   ___| |_| |_ _ _ __   __ _ ___   ___ ___ ___
 *      \___ \ / _ \ __| __| | '_ \ / _` / __| / __/ __/ __|
 *      ____) |  __/ |_| |_| | | | | (_| \__ \| (__\__ \__ \
 *     |_____/ \___|\__|\__|_|_| |_|\__, |___(_)___|___/___/
 *                                   __/ |
 *                                  |___/
 */

:root {
    /* Colors */
    --background-dark: #0e0e0f;
    --background-dark-lighter: #18181b;
    --background-dark-lighter-highlighted: #222;
    --text-dark: #fff;
    --border-dark: #fff1;

    --background-light: #f1f1f0;
    --background-light-darker: #e8e8e5;
    --background-light-darker-highlighted: #ddd;
    --text-light: #000;
    --border-light: #0001;

    --black: #000;
    --black-highlighted: #222;

    --blue: #00ad96;
    --blue-highlighted: #00e6cb;

    --green: #22fa7c;
    --green-dark: #00c85a;
    --green-highlighted: #70ffa9;

    --grey: #fff3;
    --grey-highlighted: #fff4;
    --gray: var(--grey);
    --gray-highlighted: var(--grey-highlighted);

    --purple: #9147ff;
    --purple-highlighted: #a970ff;

    --red: #bb1411;
    --red-highlighted: #771411;
    --live-red: #e91916;

    --yellow: #e6cb00;
    --yellow-dark: #ad9600;

    --white: #fff;
    --white-faded: #fff8;
    --white-highlighted: #eee;

    /* Fonts */
    --code-font: "System, Monospace, Menlo, Arial", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --live-font: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #CCC;
}

*::-webkit-scrollbar:horizontal {
    height: 6px;
}

*::-webkit-scrollbar-track {
    background-color: var(--background-dark);
    border: 1px #0000 solid;
    -webkit-box-shadow: 0 0 6px #0000 inset;
}

*::-webkit-scrollbar-thumb {
    background-color: #1F1F23;
    border: 1px solid #EFEFEF20;
    border-radius: 7px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #1F1F23;
    border: 1px solid #EFEFEF40;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #1F1F23;
    border: 1px solid #EFEFEF40;
}

* {
    box-sizing: border-box;
    outline: none;

    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    background: var(--background-dark);
    color: var(--text-dark);
    font-family: Roobert, Helvetica, Arial, sans-serif;
    font-size: 1rem;

    overflow: hidden auto;

    border: 0;
    padding: 1rem;

    min-height: 400px;
    min-width: 400px;
    height: 100%;
    width: 100%;
}

.live {
    background-color: var(--live-red);
    border: 2px solid var(--background-dark);
    border-radius: .5rem;
    color: var(--white);
    display: inline-block;
    font-family: var(--live-font);
    font-size: 80%;
    text-align: center;
    text-transform: uppercase;

    padding: .1rem .3rem;
}

header {
    font-weight: bold;
    font-size: 125%;
}

article {
    background-color: var(--background-dark-lighter);
    border: 1px solid var(--border-dark);
    border-radius: .25rem;

    margin: 2rem 0 4rem;
}

section, footer {
    font-size: .8rem;

    display: flex;
    flex-wrap: nowrap;

    padding: 2rem;

    width: 100%;
}

section:not(:last-child) {
    border-bottom: 1px solid var(--border-dark);
}

footer {
    justify-content: center;
    text-align: center;
}

.title {
    font-weight: bold;

    flex-grow: 0;

    padding-right: 2rem;

    height: 3rem;
    width: 13rem;
}

.summary {
    /* display: flex; */
    /* flex-grow: 1; */

    height: 4rem;
    width: 100%;
}

.summary p {
    margin-left: .5rem;
    margin-top: .25rem;
}

.summary ul, .summary ol {
    margin-left: 1.5rem;
    margin-top: .25rem;
}

.summary li {
    padding: 0.1rem;
}

.radio {
    display: block;
    flex-direction: column;

    position: relative;
    vertical-align: baseline;

    line-height: 2rem;

    padding: 0.5rem 0;

    transform: scale(.95);
}

.radio > input {
    border: none;
    clip: rect(0 0 0 0);
    color: var(--text-dark);
    opacity: 0;

    overflow: hidden;

    margin: -.1rem;
    position: absolute;

    height: .1rem;
    width: .1rem;
}

.radio > label {
    /* background-color: var(--grey); */
    /* border-radius: 1rem / 50%; */
    cursor: pointer;
    display: inline-block;

    position: relative;

    padding: 0 0 0 1.6rem;

    transition: background-color .1s ease;
}

.radio > label:before {
    background-clip: padding-box;
    border: 2px solid var(--white);
    border-radius: 50%;
    box-sizing: border-box;
    content: '';

    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    transition:
        box-shadow .1s ease-in,
        background .1s ease-in;

    position: absolute;
    left: 0;
    top: 50%;

    height: 1.6rem;
    width: 1.6rem;
}

.radio > input:checked + label:before {
    border-color: var(--purple) !important;
}

.radio > label:after {
    background-color: var(--background-dark-lighter);
    border-radius: 50%;
    content: '';
    display: block;

    position: absolute;
    left: -0.4rem;
    top: 50%;

    transition: background .1s ease;
    transform: translate3d(0,-50%,0);

    height: .8rem;
    width: .8rem;
}

.radio > input:checked + label:after {
    background-color: var(--purple);
}

[disabled] {
    opacity: 0.3 !important;
}

a {
    color: var(--purple-highlighted);
    text-decoration: none;
}

b {font-weight: 900}

h1 {font-size: 200%}
h2 {font-size: 150%}
h3 {font-size: 125%}
h4 {font-size: 75%}
h5 {font-size: 50%}
h6 {font-size: 25%}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal !important;

    line-height: 1.25 !important;
}

select {
    align-items: center;
    cursor: pointer;
    display: inline-block;
    justify-content: center;

    background-color: var(--purple);
    border-radius: 3px;
    color: var(--text-dark);
    cursor: pointer;
    font-weight: bold;
    user-select: none;

    transition: background-color .1s ease;

    overflow: hidden;

    margin: 5px 10px;
    padding: 5px 10px;

    vertical-align: middle;
}

option:checked {
    display: none;
}

option:not(:checked) {
    background-color: var(--background-dark-lighter);
}

button, [type="button"] {
    align-items: center;
    display: inline-block;
    justify-content: center;

    background-color: var(--purple);
    border-radius: 3px;
    color: var(--text-dark);
    cursor: pointer;
    font-weight: bold;

    transition: background-color .1s ease;

    overflow: hidden;

    margin: 5px 10px;
    padding: 5px 10px;

    vertical-align: middle;
}

button.remove, input[type="button"].remove {
    background-color: var(--red);
}

button:hover, input[type="button"]:hover {
    background-color: var(--purple-highlighted);
}

button.remove:hover, input[type="button"].remove:hover  {
    background-color: var(--red-highlighted);
}

[attention], [alert] {
    border: 1px solid var(--blue);
}

[success], [confirm] {
    border: 1px solid var(--green);
}

[warning], [caution], [prompt] {
    border: 1px solid var(--yellow);
}

[error], [danger] {
    border: 1px solid var(--red);
}

[attention-text], [alert-text] {
    color: var(--blue);
}

[success-text], [confirm-text] {
    color: var(--green);
}

[warning-text], [caution-text], [prompt-text] {
    color: var(--yellow);
}

[error-text], [danger-text] {
    color: var(--red);
}

code, [code], [type^="code"i] {
    background: var(--black);
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: var(--code-font) !important;
    font-size: 75% !important;
    line-height: 1 !important;
    white-space: pre;

    margin: 0;
    padding: .2em .4em;
}

.toggle {
    display: inline-block;
    flex-direction: column;

    position: relative;
    vertical-align: baseline;

    line-height: 2rem;

    transform: scale(.75);
}

.toggle > input {
    opacity: 0;

    position: absolute;
}

.toggle > input:checked + label {
    background-color: var(--purple) !important;
}

.toggle.attention > input:checked + label, .toggle.alert > input:checked + label,
[attention] .toggle > input:checked + label, [alert] .toggle > input:checked + label {
    background-color: var(--blue) !important;
}

.toggle.special > input:checked + label, .toggle.success > input:checked + label, .toggle.confirm > input:checked + label,
[special] .toggle > input:checked + label, [success] .toggle > input:checked + label, [confirm] .toggle > input:checked + label {
    background-color: var(--green) !important;
}

.toggle.warning > input:checked + label, .toggle.caution > input:checked + label, .toggle.prompt > input:checked + label,
[warning] .toggle > input:checked + label, [caution] .toggle > input:checked + label, [prompt] .toggle > input:checked + label {
    background-color: var(--yellow) !important;
}

.toggle.error > input:checked + label, .toggle.danger > input:checked + label,
[error] .toggle > input:checked + label, [danger] .toggle > input:checked + label {
    background-color: var(--red) !important;
}

.toggle > label {
    background-color: var(--grey);
    border-radius: 1rem / 50%;
    box-shadow:
        0 1px 2px #0003,
        0 0 2px #0002;
    cursor: pointer;
    display: inline-block;

    transition: background-color .1s ease;

    order: 0;
    position: relative;
    vertical-align: bottom;

    height: 2rem;
    width: 3.5rem;
}

.toggle > label:before {
    border-bottom: 2px solid var(--text-dark);
    border-left: 2px solid var(--text-dark);
    content: '';
    display: block;

    transform: translate3d(-50%, -50%, 0) rotate(-45deg);

    position: absolute;
    left: 1rem;
    top: .9rem;

    height: .3rem;
    width: .7rem;
}

.toggle > input:checked + label:after {
    left: calc(100% - 1.8rem);
    top: .2rem;
}

.toggle > label:after {
    background-color: var(--white);
    border-radius: 100%;
    content: '';
    display: block;

    transition: left .1s ease;

    position: absolute;
    bottom: .2rem;
    left: .2rem;
    top: .2rem;

    width: 1.6rem;
}

/* Default is ON */
/* .show-defaults [checked]:not(:checked), .show-defaults [checked]:not(:checked) + label:after {
    background-color: var(--green)!important;
} */
/* .show-defaults [checked]:not(:checked):not([type="checkbox"]) + label:before {
    border-color: var(--green)!important;
} */

/* Default is OFF */
/* .show-defaults :checked:not([checked]), .show-defaults :checked:not([checked]) + label:after {
    background-color: var(--yellow)!important;
} */
/* .show-defaults :checked:not([checked]):not([type="checkbox"]) + label:before {
    border-color: var(--yellow)!important;
} */

.show-defaults [hide-on="show-defaults"] {
    display: none !important;
}

textarea, input[type="text"i], input[type="number"i] {
    appearance: none;
    background-clip: padding-box;
    background-color: var(--grey);
    border: 2px solid var(--grey);
    border-radius: 3px;
    color: var(--white);
    display: block;
    font-size: 100%;
    line-height: 1;
    text-overflow: ellipsis;

    transition:
        box-shadow .1s ease-in,
        border .1s ease-in,
        background-color .1s ease-in;

    overflow-x: hidden;
    resize: none;

    padding: 1rem 6.5rem 1rem 1rem;

    height: 1rem;
    width: 100%;
}

textarea:focus, input[type="text"i]:focus, input[type="number"i]:focus {
    background-color: var(--black);
    border-color: var(--purple);

    outline: none;
}

textarea::placeholder, input::placeholder, textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    font-family: var(--code-font);
    font-size: 100%;
}

input[type="number"i] {
    display: inline;
    text-align: center;

    padding: .5rem;

    height: 2rem;
    width: 5rem;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
    /* background: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 1rem;
    display: inline-block;
    opacity: 1;

    padding: 0;

    height: 1.5rem;
    width: 1rem; */
}

/* Glyphs */
/* Images - [type="span"i] */
[type="glyph"i] {
    vertical-align: middle;
}

/* Glyphs - [span] */
[glyph] {
    padding: .1rem;

    /* vertical-align: super; */

    height: 1.5rem;
    width: 1.5rem;
}

[glyph][x-small] {
    height: .5rem;
    width: .5rem;
}

[glyph][small] {
    height: 1rem;
    width: 1rem;
}

[glyph][large] {
    height: 2rem;
    width: 2rem;
}

[glyph][x-large] {
    height: 3rem;
    width: 3rem;
}

[glyph][xx-large] {
    height: 4rem;
    width: 4rem;
}

[glyph][xxx-large] {
    height: 5rem;
    width: 5rem;
}

/* Colors & Positions */
[left] { float: left }
[right] { float: right }

[black], [black] svg {
    color: var(--black)!important;
    fill: var(--black)!important;
}

[blue], [blue] svg {
    color: var(--blue)!important;
    fill: var(--blue)!important;
}

[green], [green] svg {
    color: var(--green)!important;
    fill: var(--green)!important;
}

[grey], [grey] svg, [gray], [gray] svg {
    color: var(--grey)!important;
    fill: var(--grey)!important;
}

[purple], [purple] svg {
    color: var(--purple)!important;
    fill: var(--purple)!important;
}

[red], [red] svg {
    color: var(--red)!important;
    fill: var(--red)!important;
}

[white], [white] svg {
    color: var(--white)!important;
    fill: var(--white)!important;
}

/* Et Al */
#filter_rules {
    height: 3rem;
    overflow: auto;
}

/* Save button(s) */
#save {
    background-color: var(--green);
    display: block;

    position: absolute;
    right: 1rem;
    top: 1rem;

    height: 2.5rem;
    width: 6rem;

    transition: background-color .5s;
}

#save:before {
    content: 'Save';
}

#save:hover {
    background-color: var(--green-highlighted);
}

#save.spin {
    background-color: var(--green-dark) !important;
}

/* Version button */
#version {
    text-align:right;

    opacity: .5;

    position: absolute;
    bottom: 0;
    right: 2.5rem;

    width: 100%;
}

#version[version]:after {
    content: 'v' attr(version);
}

/* Mini-display */
body.popup {
    padding-bottom: 2rem;
}

.popup .radio, .popup .toggle {
    line-height: 1rem;
}

.popup input[type="number"] {
    height: 1rem;
    width: 3rem;
}

.popup #filter_rules {
    height: 9rem;
}

.popup #save {
    border-radius: 100%;

    padding: 1.5rem;

    bottom: 1rem;
    left: unset;
    right: 1rem;
    top: unset;

    height: 2.5rem;
    width: 2.5rem;
}

.popup #save:before {
    border-bottom: 3px solid var(--text-dark);
    border-left: 3px solid var(--text-dark);
    content: '';
    display: block;

    transform: translate3d(-50%, -50%, 0) rotate(-45deg);

    position: absolute;
    left: 1.5rem;
    top: 1.4rem;

    height: .4rem;
    width: 1rem;
}

/* From Twitch */
/* Tooltips */
.tooltip-layer {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.tw-relative {
    position: relative !important;
}

.tw-inline-flex {
    display: inline-flex !important;
}

.tooltip-layer code {
    background-color: var(--white)!important;
    font-size: 100%!important;
}

.tw-tooltip-wrapper--show .tw-tooltip {
    display: block;
}

.tw-tooltip {
    background-color: var(--white);
    border-radius: .2rem;
    color: var(--black);
    font-size: 75%;
    font-weight: 600;
    line-height: 1.2;
    padding: 3px 6px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    user-select: none;
    white-space: nowrap;
    z-index: 2000;
}

.tw-tooltip:after, .tw-tooltip:before {
    content: '';
    position: absolute;
}

.tw-tooltip:before {
    height: calc(100% + 12px);
    left: -6px;
    top: -6px;
    width: calc(100% + 12px);
    z-index: -1;
}

.tw-tooltip:after {
    background-color: var(--white);
    height: 6px;
    transform: rotate(45deg);
    width: 6px;
    z-index: -1;
}

/* Directionally aligned tooltips */
/* Center */
.tw-tooltip--up.tw-tooltip--align-center, .tw-tooltip--down.tw-tooltip--align-center {
    left: 50%;
    transform: translateX(-50%);
}

.tw-tooltip--up.tw-tooltip--align-center:after, .tw-tooltip--down.tw-tooltip--align-center:after {
    left: 50%;
    margin-left: -3px;
}

.tw-tooltip--left.tw-tooltip--align-center, .tw-tooltip--right.tw-tooltip--align-center {
    top: 50%;
    transform: translateY(-50%);
}

.tw-tooltip--left.tw-tooltip--align-center:after, .tw-tooltip--right.tw-tooltip--align-center:after {
    margin-top: -3px;
    top: 50%;
}

/* Left */
/* ??? */

/* Right */
.tw-tooltip--up.tw-tooltip--align-right, .tw-tooltip--down.tw-tooltip--align-right {
    left: auto;
    right: 0;
}

.tw-tooltip--up.tw-tooltip--align-right:after, .tw-tooltip--down.tw-tooltip--align-right:after {
    left: 100%;
    margin-left: -12px;
    top: 100%;
}

/* Up (over) tooltip */
.tw-tooltip--up {
    bottom: 100%;
    left: 0;
    margin-bottom: 6px;
    top: auto;
}

.tw-tooltip--up:after {
    border-radius: 0 0 .2rem;
    height: 6px;
    left: 6px;
    margin-top: -3px;
    top: 100%;
    z-index: -1;
}

/* Down (under) tooltip */
.tw-tooltip--down {
    left: 0;
    margin-top: 6px;
    top: 100%;
}

.tw-tooltip--down:after {
    border-radius: .2rem 0 0;
    height: 6px;
    left: 6px;
    top: -3px;
    transform: rotate(45deg);
    width: 6px;
    z-index: -1;
}

/* Left tooltip */
.tw-tooltip--left {
    left: auto;
    margin-right: 6px;
    right: 100%;
    top: 0;
}

.tw-tooltip--left:after {
    border-radius: 0 .2rem 0 0;
    left: 100%;
    margin-left: -3px;
    right: -3px;
    top: 6px;
}

/* Right tooltip */
.tw-tooltip--right {
    left: 100%;
    margin-left: 6px;
    top: 0;
}

.tw-tooltip--right:after {
    border-radius: 0 0 0 .2rem;
    left: 0;
    margin-left: -3px;
    top: 6px;
}
