/* Globals */
button[class*="tt-"i]:hover { background-color: #fff3 }

/* Scrollbars */
::-webkit-scrollbar {
    width: .6rem;
}
::-webkit-scrollbar-button {
    background: transparent;
    display: none;
    visibility: hidden;

    height: 0;
    width: 0;
}
::-webkit-scrollbar-thumb {
    background: #0008;
    border: 1px solid #fff4;
    border-radius: .5rem;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Misc. */
.tt-hide-text-overflow {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tt-live, .tt-offline {
    background-color: #e91916;
    /* border: 2px solid #0e0e0f; */
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-family: Roobert, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    padding: .1rem .3rem;
}

.tt-offline {
    background-color: #8883;
    color: var(--color-text-interactable);
}

/* Tooltips */
[role="tooltip"].img-container { /* adjust tooltips with SVGs or IMGs */ }

.tt-dialog-layer [data-popper-escaped="true"i] {
    max-width: 25rem;
    width: max-content;
}

.tooltip-layer {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.tt-relative {
    position: relative !important;
}

.tt-inline-flex {
    display: inline-flex !important;
}

.tooltip-layer code {
    background-color: var(--color-background-tooltip)!important;
    font-size: 100%!important;
}

.tt-tooltip-wrapper[show], img ~ .tt-tooltip {
    display: none !important;
}

.tt-tooltip-wrapper[show="true"i] {
    display: block !important;
}

.tt-tooltip {
    background-color: var(--color-background-tooltip);
    border-radius: .4rem;
    color: var(--color-text-tooltip);
    font-family: inherit;
    font-size: 100%;
    font-weight: 600;
    line-height: 1.2;
    padding: .5rem;
    pointer-events: none;
    position: absolute;
    text-align: left;
    user-select: none;
    white-space: nowrap;
    z-index: 9999;
}

.tt-tooltip::after, .tt-tooltip::before {
    content: '';
    position: absolute;
}

.tt-tooltip::before {
    left: -6px;
    top: -6px;
    z-index: -1;

    height: calc(100% + 12px);
    width: calc(100% + 12px);
}

.tt-tooltip::after {
    background-color: var(--color-background-tooltip);

    transform: rotate(45deg);
    z-index: -1;

    height: 6px;
    width: 6px;
}

.tt-root--theme-dark .tt-tooltip::after {
    mix-blend-mode: color-burn;
}

.tt-root--theme-light .tt-tooltip::after {
    mix-blend-mode: color-dodge;
}

/* Directionally aligned tooltips */
/* Center */
.tt-tooltip--up.tt-tooltip--align-center, .tt-tooltip--down.tt-tooltip--align-center {
    left: 50%;
    transform: translateX(-50%);
}

.tt-tooltip--up.tt-tooltip--align-center::after, .tt-tooltip--down.tt-tooltip--align-center::after {
    left: 50%;
    margin-left: -3px;
}

.tt-tooltip--left.tt-tooltip--align-center, .tt-tooltip--right.tt-tooltip--align-center {
    top: 50%;
    transform: translateY(-50%);
}

.tt-tooltip--left.tt-tooltip--align-center::after, .tt-tooltip--right.tt-tooltip--align-center::after {
    margin-top: -3px;
    top: 50%;
}

/* Left */
/* ??? */

/* Right */
.tt-tooltip--up.tt-tooltip--align-right, .tt-tooltip--down.tt-tooltip--align-right {
    left: auto;
    right: 0;
}

.tt-tooltip--up.tt-tooltip--align-right::after, .tt-tooltip--down.tt-tooltip--align-right::after {
    left: 100%;
    margin-left: -12px;
    top: 100%;
}

/* Up (over) tooltip */
.tt-tooltip--up {
    bottom: 100%;
    left: 0;
    margin-bottom: 6px;
    top: auto;
}

.tt-tooltip--up::after {
    border-radius: 0 0 .4rem;
    height: 6px;
    left: 6px;
    margin-top: -3px;
    top: 100%;
    z-index: -1;
}

/* Down (under) tooltip */
.tt-tooltip--down {
    left: 0;
    margin-top: 6px;
    top: 100%;
}

.tt-tooltip--down::after {
    border-radius: .4rem 0 0;
    height: 6px;
    left: 6px;
    top: -3px;
    transform: rotate(45deg);
    width: 6px;
    z-index: -1;
}

/* Left tooltip */
.tt-tooltip--left {
    left: auto;
    margin-right: 6px;
    right: 100%;
    top: 0;
}

.tt-tooltip--left::after {
    border-radius: 0 .4rem 0 0;
    left: 100%;
    margin-left: -3px;
    right: -3px;
    top: 6px;
}

/* Right tooltip */
.tt-tooltip--right {
    left: 100%;
    margin-left: 6px;
    top: 0;
}

.tt-tooltip--right::after {
    border-radius: 0 0 0 .4rem;
    left: 0;
    margin-left: -3px;
    top: 6px;
}

/* Native tooltips */
[fade-right]::before {
    content: "";

    background: linear-gradient(to right, #fff, #000);
    border-radius: 6px;
    mix-blend-mode: multiply;

    height: 100%;
    width: calc(100% - 1rem);

    position: absolute;
    margin-left: 1rem;
}

/* Alerts, Confirmations, and Prompts */
.tt-alert, .tt-confirm, .tt-prompt {
    animation: 1s fade-in 1;

    background: #000d;
    display: block;
    font-size: 1em;
    opacity: 1;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;

    height: 100vh;
    width: 100vw;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.tt-alert-container, .tt-confirm-container, .tt-prompt-container {
    background: linear-gradient(45deg, var(--user-accent-color), var(--user-complement-color));
    border-radius: 0.3em;

    padding: 0.15em;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    min-width: 25vw;
    max-width: 35vw;
    width: fit-content;
}

:is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container) > * {
    background: var(--color-background-base);
    padding: 1em;
}

.tt-alert-header, .tt-confirm-header, .tt-prompt-header {
    font-family: var(--font-display);
    font-size: 1.25em;
    font-weight: bold;

    padding-bottom: 0.5em;
}

.tt-alert-body, .tt-confirm-body, .tt-prompt-body {
    /* ... */
}

.tt-alert-footer, .tt-confirm-footer, .tt-prompt-footer {
    text-align: right;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) :is(button, [type="button"]) {
    align-items: center;
    display: inline-block;
    justify-content: center;

    background-color: var(--color-twitch-purple);
    border-radius: 0.2em;
    color: var(--color-white);
    cursor: pointer;
    font-family: Roobert;
    font-weight: bold;

    transition: background-color .1s ease;

    overflow: hidden;

    margin: 5px 10px;
    padding: 5px 10px;

    vertical-align: middle;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) *.emove {
    background-color: var(--color-red);
}

:is(.tt-alert, .tt-confirm, .tt-prompt) *.edit {
    background-color: var(--color-hinted-grey-6);
}

:is(.tt-alert, .tt-confirm, .tt-prompt) :is(button, input[type="button"]):hover {
    background-color: var(--color-twitch-purple-10);
}

:is(.tt-alert, .tt-confirm, .tt-prompt) *.emove:hover  {
    background-color: var(--color-red-darker) !important;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) *.edit:hover  {
    background-color: var(--color-hinted-grey-6) !important;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) :is(textarea, input) {
    appearance: none;
    background-clip: padding-box;
    background-color: var(--color-hinted-grey-6);
    border: 2px solid var(--color-hinted-grey-6);
    border-radius: 0.2em;
    color: var(--color-white);
    display: block;
    font-size: 100%;
    line-height: 1;
    text-overflow: ellipsis;

    transition: all .1s ease-in;

    overflow-x: hidden;
    resize: none;

    padding: 1em;

    height: 1em;
    width: 100%;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) :is(textarea, input):focus {
    background-color: var(--color-black);
    border-color: var(--color-prime-blue);

    outline: none;
}

.tt-done:is(.tt-alert, .tt-confirm, .tt-prompt):not(.tt-silent) {
    animation: 1s fade-out 1;

    opacity: 0;
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

/* Silent alerts, confirmations, and prompts */
.tt-silent:is(.tt-alert, .tt-confirm, .tt-prompt) {
    background: none;

    margin-top: 100%;
}

.tt-silent:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container) {
    animation: 1s glide-in-from-bottom--silent 1;

    margin-top: -100%;
    top: 99%;
    transform: translate(-50%, -100%);
}

@keyframes glide-in-from-bottom--silent {
    from { top: 200% }
    to { top: 99% }
}

.tt-silent.tt-veiled:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container) {
    transition: transform .6s, opacity .3s;

    opacity: .6;

    top: 99%;
    transform: translate(-50%, calc(1% + .1em));
}

.tt-silent.tt-veiled:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container):is(:hover, :focus-within) {
    opacity: 1;

    transform: translate(-50%, -100%);
}

.tt-silent:is(.tt-alert, .tt-confirm, .tt-prompt) .tt-alert-container,
.tt-silent:is(.tt-alert, .tt-confirm, .tt-prompt) .tt-confirm-container,
.tt-silent:is(.tt-alert, .tt-confirm, .tt-prompt) .tt-prompt-container {
    /* border: 1px solid var(--user-complement-color); */

    --current-border-color: var(--user-complement-color);
}

.tt-silent.tt-done:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container) {
    animation: .6s glide-out-to-bottom--silent 1;

    top: 200%;
}

@keyframes glide-out-to-bottom--silent {
    from { top: 99% }
    to { top: 200% }
}

.tt-silent.tt-veiled:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container)::before {
    content: "\1F92B";

    transition: opacity .3s, top .6s;
    transition-delay: .3s;

    background: inherit;
    /* border: 1px solid var(--current-border-color); */
    border-radius: 25%;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    mix-blend-mode: darken;
    opacity: 1;
    text-align: center;

    margin-top: -1em;
    position: fixed;
    left: 50%;
    top: 0;

    padding: .1em .5em .4em;

    height: 1em;
    width: fit-content;

    transform: translate(-50%, -50%);
}

.tt-silent.tt-veiled:is(.tt-alert) :is(.tt-alert-container)::before {
    /* ⚠ */
    content: "\26A0";
}

.tt-silent.tt-veiled:is(.tt-confirm) :is(.tt-confirm-container)::before {
    /* ✔ */
    content: "\2714";
}

.tt-silent.tt-veiled:is(.tt-prompt) :is(.tt-prompt-container)::before {
    /* ⌨ */
    content: "\2328";
}

.tt-silent.tt-veiled:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container)::before {
    top: 3px;
}

.tt-silent.tt-veiled:is(.tt-alert, .tt-confirm, .tt-prompt):is(:hover, :focus-within) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container)::before {
    opacity: 0;
    top: 3em;
}

[class*="root"i][class*="theme-light"i] .tt-silent.tt-veiled:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container)::before {
    mix-blend-mode: lighten;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container) > * {
    margin: -1px 0;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container) > :first-child {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container) > :last-child {
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

@keyframes shake {
    10%, 90% {
        transform: translate(-55%, -50%);
    }

    20%, 80% {
        transform: translate(-45%, -50%);
    }

    30%, 50%, 70% {
        transform: translate(-52.5%, -50%);
    }

    40%, 60% {
        transform: translate(-42.5%, -50%);
    }
}

/* Timed alerts, confirmations, and prompts */
.tt-timed:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-time, .tt-confirm-time, .tt-prompt-time) {
    display: inline-block;

    float: right;
    padding-left: 1em;
}

.tt-timed:is(.tt-alert, .tt-confirm, .tt-prompt) [tt-done="true"i]:is(.tt-alert-time, .tt-confirm-time, .tt-prompt-time) {
    transition: opacity .3s;

    opacity: 0;
}

.tt-timed.tt-veiled:is(.tt-alert, .tt-confirm, .tt-prompt) :is(.tt-alert-container, .tt-confirm-container, .tt-prompt-container)::before {
    content: attr(tt-time-left);
    /* content: "\23F1"; */

    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) infinite 37s;
}

/* About Panel - Actions */
.about-section__actions > [action-origin]:first-child:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.about-section__actions > [action-origin]:not(:first-child) {
    border-top: var(--border-width-default) solid var(--color-border-base);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

[tt-action] {
    background-color: var(--color-background-base);
    border-radius: 0.4rem;

    padding: 0.5rem 1rem;
}

[tt-action] button {
    padding: 0.5rem 0;
}

[tt-action] button > * {
    background-color: var(--color-background-base);
    border-radius: 0.4rem;
    display: flex;

    padding: 1rem;
}

[tt-action] button > *:hover {
    background-color: var(--color-background-alt);
}

.tt-action-icon {
    padding-right: 1rem;
}

.tt-action-icon + * {
    color: var(--color-text-base);
}

.tt-action-title {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-heading);
}

.tt-action-subtitle {
    color: var(--color-text-alt-2);
    font-size: var(--font-size-6);
}

/* Blank Ads */
.tt-stream-preview[blank-ad="true"i] {
    border-radius: 5rem !important;

    top: 5rem !important;

    height: 5rem !important;
    width: 5rem !important;
}

.tt-stream-preview[blank-ad="true"i]::before {
    content: "Ad";
    transition: all .6s fade-in 1;

    background: var(--color-twitch-purple);
    border: 2.5rem solid var(--color-twitch-purple);
    border-radius: 5rem;
    transform: translate(-50%, -50%);
    opacity: 1;


    position: absolute;
    top: 50%;
    left: 50%;
}

/* Up Next - Boost */
[up-next--container] button {
    transition: border 1s;
}

[up-next--container] button[allowed="false"i] {
    border-color: var(--color-red) !important;
}

[up-next--container] button[allowed="true"i][speeding="true"i] {
    animation: up-next-speeding 1s alternate infinite;

    border: 1px solid var(--color-yellow);
}

@keyframes up-next-speeding {
    from { border-color: var(--color-yellow) }
    to { border-color: transparent }
}
